<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Detail</title>
</head>
<body>
    <h1>Detail</h1>
    <ul>
        <li>
            <%= h @comment.body %>
        </li>
    </ul>
</body>
</html>